﻿@model Common.Models.Category

<div style="text-align:center;">
	<img style="height:400px;width:400px;" src="@Model.ImageUrl" />

	<a href="@Model.Link"><h2>@Model.Title</h2></a>

	<span>@Model.Description</span>

	<br/>
	<a>Read More!</a>
</div>
