﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="~/sss/sss.min.js"></script>
	<link rel="stylesheet" href="~/sss/sss.css" type="text/css" media="all">
	<script>jQuery(function ($) { $('.slider').sss(); });</script>

</head>
<body>
	<div style="background-color:white;" class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header" style="margin-right: -37%;">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("ASOOS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
				<img style="width:8%; height:8%; margin-top: 5px;" src="~/Images/Logo.png" />
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Home", "Index", "Home")</li>
					<li>@Html.ActionLink("About", "About", "Home")</li>
					<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
					@if (Request.IsAuthenticated)
					{
						<li>@Html.ActionLink("Sale", "Sale", "Category")</li>
					}
					@if (Request.IsAuthenticated)
					{
						<li>@Html.ActionLink("Casual", "Casual", "Category")</li>
					}
					@if (Request.IsAuthenticated)
					{
						<li>@Html.ActionLink("Accessories", "Accessories", "Category")</li>
					}
					@if (Request.IsAuthenticated)
					{
						<li>@Html.ActionLink("Evening", "Evening", "Category")</li>
					}
				</ul>
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>

	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - ASOOS!</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
