﻿@{
	ViewBag.Title = "Home Page";
}

@model IEnumerable<Common.Models.Item>

<h2 style="text-align:center;">Recent Additions</h2>
<div class="slider" style="width: 28%; height: 50%; margin: 0 auto;">
	@foreach(var x in Model)
	{
		<a href="@Url.Action("Details","Category",new { id = x.ItemID })">
			<img src="~/Images/@Url.Content(x.ItemPicture)"/><span style="color:pink;margin:0 auto;" class="caption">@x.ItemName</span>
		</a>
	}
</div>

<br/>
<div class="row">
	<div class="col-md-6">
		@Html.Partial("_Box", Common.Models.Category.Accessories)
	</div>
	<div class="col-md-6">
		@Html.Partial("_Box", Common.Models.Category.Casual)
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		@Html.Partial("_Box", Common.Models.Category.Evening)
	</div>
	<div class="col-md-6">
		@Html.Partial("_Box", Common.Models.Category.Sale)
	</div>
</div>
