﻿@using PagedList.Mvc;
@model PagedList.IPagedList<Common.Models.Item>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
	ViewBag.Title = "Accessories";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accessories</h2>
<p>
	@Html.ActionLink("Accessories", "Accessories")
</p>
<table class="table">
	<tr>
		<th>
			@nameof(Common.Models.Item.ItemName)
		</th>
		<th>
			@nameof(Common.Models.Item.ItemPrice)
		</th>
		<th>
			@nameof(Common.Models.Item.ItemDescription)
		</th>
		<th>
			@nameof(Common.Models.Item.ItemType)
		</th>
		<th>
			@nameof(Common.Models.Item.ItemPicture)
		</th>
		<th>
			@nameof(Common.Models.Item.DateAdded)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.ItemName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ItemPrice)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ItemDescription)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ItemType)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ItemPicture)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DateAdded)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.ItemID }) |
				@Html.ActionLink("Details", "Details", new { id = item.ItemID }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.ItemID })
			</td>
		</tr>
	}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Accessories",
	new { page }))
