﻿@model Common.Models.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.ItemName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ItemName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ItemPrice)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ItemPrice)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ItemDescription)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ItemDescription)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ItemType)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ItemType)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.DateAdded)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DateAdded)
		</dd>

		<img src="~/Images/@Html.DisplayFor(model =>model.ItemPicture)" style="height:200px;width:200px;" />


	</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
